# Deployment = Gateway
#  El punto de entrada principal
#  se comunica con usuarios y pedidos internamente

apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  namespace: microservicios-app
  labels:
    app: gateway
spec:
  replicas: 2 # asigna el numero de pods (containers) a ejecutar
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: us-central1-docker.pkg.dev/eduteklatam/microservicios-repo/servicio-gateway-educativo:1.0
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: PORT
          value: "8080"
        - name: NODE_ENV
          value: "production"
        - name: USUARIOS_URL
          value: "http://usuarios-service:5000"
        - name: PEDIDOS_URL
          value: "http://pedidos-service:5001"
        resources:
          requests: # recursos Minimos garantizados
            memory: "128Mi"
            cpu: "100m"
          limits: # recursos Maximos permitidos
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
