apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventario-deployment
  namespace: microservicios-app
  labels:
    app: inventario
    language: csharp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventario
  template:
    metadata:
      labels:
        app: inventario
    spec:
      containers:
      - name: inventario
        image: us-central1-docker.pkg.dev/eduteklatam/microservicios-repo/servicio-inventario:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 5002
          name: http
        env:
        - name: ASPNETCORE_URLS
          value: http://0.0.0.0:5002
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 5002
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5002
          initialDelaySeconds: 10
          periodSeconds: 5
